table.cart
    tr.total
        td(colspan=4) Order Details
    tr.total
        td(colspan=3) Order #:
        td= hash
    tr.total
        td(colspan=3) Email:
        td= email
    tr.total
        td(colspan=3) Phone:
        td= phone
    tr.total
        td(colspan=4) Goods
    tr
        th Name
        th Price
        th Quantity
        th Cost
    if items
        -var total = items.reduce(function(memo, item){return memo + item.product.price * item.quantity}, 0)
        each item in items
            tr.product
                td.name= item.product.name
                td.price= item.product.price + ' UAH'
                td.quantity= item.quantity
                td.cost= (item.product.price * item.quantity) + ' UAH'
        tr.total
            td(colspan=3) Total Cost:
            td= total + ' UAH'